<div class="flex flex-wrap">
  <div class="w-full px-4">
   <div
      class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
    >
      <app-map-example></app-map-example>
    </div>

    <div>
      <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h2 class="text-blueGray-500 text-sm font-bold"htmlFor="grid-password">Laisser un commentaire sur une salle d'exposition</h2>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="save()">

                        <div class="row">
                            <div class="col-md-6">
                              <label
                              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                              htmlFor="grid-password">
                                 Non de l'exposition
                              </label>
                              <input matInput placeholder="Non de l'exposition" type="text" [(ngModel)]='commentaireSalleExposition.titre' name="titre">
                            </div>
                            <div class="col-md-6">
                              <label
                              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                              htmlFor="grid-password">
                                 Veullez décrire votre expérience
                              </label>
                                <input matInput placeholder="Description" type="text"
                                [(ngModel)]="commentaireSalleExposition.description" name="description">
                            </div>
                            <div class="col-md-6">
                              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                              htmlFor="grid-password">Noter votre expérience sur 5</label>
                              <input  matInput placeholder="note" type="radio"
                              [(ngModel)]="commentaireSalleExposition.note" name="note">0 
                              <input  matInput placeholder="Description" type="radio"
                              [(ngModel)]="commentaireSalleExposition.note" name="note">1 
                              <input  matInput placeholder="Description" type="radio"
                              [(ngModel)]="commentaireSalleExposition.note" name="note">2 
                              <input  matInput placeholder="Description" type="radio"
                              [(ngModel)]="commentaireSalleExposition.note" name="note">3 
                              <input  matInput placeholder="Description" type="radio"
                              [(ngModel)]="commentaireSalleExposition.note" name="note">4 
                              <input  matInput placeholder="Description" type="radio"
                              [(ngModel)]="commentaireSalleExposition.note" name="note">5 
                            </div>
                        </div>
                        <div class="text-center mt-6">
                          <button type="submit" class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150">Ajouter</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
