<app-index-navbar></app-index-navbar>

<!-- Accueil + Image -->
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Espace des arts - Toutes vos oeuvres en un seul clic.
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Admirez les oeuvres de nos salles virtuelles.<br>
          Consultez les détails de nos salles d'expositions. <br>
          Exprimez-vous en commentant nos salles et oeuvres. <br>
          Proposez vos services en tant qu'artiste ou propriétaire de salle. <br>
        </p>
      </div>
    </div>
  </div>

  <img class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="assets/img/pattern_angular.png" alt="..." />
</section>

<!-- Salles exposition -->
<section class="mt-48 md:mt-40 relative bg-blueGray-100">
  <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="flex flex-wrap justify-center">
    <div class=" lg:w-3/12 -mt-32">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600">
        <img alt="..."
          src="https://img.freepik.com/free-photo/interior-national-art-museum-bucharest-romania-golden-details-marble-painting_1268-19833.jpg?w=1380&t=st=1662730281~exp=1662730881~hmac=f7f7793982d4f50b6b470113ad6ffd6b3c05c4013f832a8517a582f4f11a97b7"
          class="w-full align-middle rounded-t-lg" />
        <blockquote class="relative p-8 mb-4">
          <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
            class="absolute left-0 w-full block h-95-px -top-94-px">
            <polygon points="-30,95 583,95 583,65" class="text-red-600 fill-current"></polygon>
          </svg>
          <h4 class="text-xl font-bold text-white">
            Liste de nos salles d'expositions
          </h4>
          <p class="text-md font-light mt-2 text-white">
            De superbes salles d'expositions partout dans le monde, surement près de chez vous!
            Nous avons hate de vous accueillir dans une de nos salles, pour admirer les oeuvres en exposition.
          </p>
        </blockquote>
      </div>
    </div>

    <div class=" md:w-9/12 md:px-4 ">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
        [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
              <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'">
                Salles d'exposition
              </h3>
            </div>
          </div>
        </div>
        <div class="block w-full overflow-x-auto">
          <!-- Projects table -->
          <table class="items-center w-full bg-transparent border-collapse">
            <thead>
              <tr>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  [ngClass]="
                        color === 'light'
                          ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                          : 'bg-red-800 text-red-300 border-red-700'
                      ">
                  Nom
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  [ngClass]="
                        color === 'light'
                          ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                          : 'bg-red-800 text-red-300 border-red-700'
                      ">
                  Localisation
                </th>
                <!-- <th
                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                    [ngClass]="
                        color === 'light'
                          ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                          : 'bg-red-800 text-red-300 border-red-700'
                      ">
                    Nombre d'oeuvres
                  </th> -->
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  [ngClass]="
                      color === 'light'
                        ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                        : 'bg-red-800 text-red-300 border-red-700'
                    ">
                  Acces
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sE of salleExpositions">
                <th
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                  <img src="data:image/jpeg;base64,{{sE.logo}}" class="h-12 w-12 bg-white rounded-full border"
                    alt="..." />
                  <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                    {{sE.libelle}}
                  </span>
                </th>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                    {{sE.adresse.ville}}, {{sE.adresse.pays}}
                  </span>
                </td>
                <!-- <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                      {{sE.nbrOeuvres}}
                    </span>
                  </td> -->
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <button (click)="afficherSalleExpo(sE.id)"
                    class="bg-orange-500 text-white active:bg-red-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                    type="button">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- To do : changer la position  -->
  <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <!-- <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon> -->
    </svg>
  </div>

</section>

<!-- Evenements -->
<!-- <section class="block relative z-1 bg-blueGray-600">
  <div class="container mx-auto">
    <div class="justify-center flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4 -mt-24">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">Login Page</h5>
            <a [routerLink]="['/auth/login']">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="assets/img/login.jpg" />
              </div>
            </a>
          </div>

          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">Profile Page</h5>
            <a [routerLink]="['/profile']">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="assets/img/profile.jpg" />
              </div>
            </a>
          </div>

          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">Landing Page</h5>
            <a [routerLink]="['/landing']">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="assets/img/landing.jpg" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Salles Virtuelles -->
<section class="pt-48 pb-4 bg-blueGray-600 overflow-hidden">
  <div class="flex flex-wrap justify-center">
    <div class=" lg:w-3/12 -mt-32">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-teal-500">
        <img alt="..."
          src="https://img.freepik.com/free-vector/blogging-concept-illustration_114360-1038.jpg?w=740&t=st=1662994615~exp=1662995215~hmac=46dd18b8b1ab85d1ea947e68d22203efaa2a1f87563ea4776bc6a7510be9f09c"
          class="w-full align-middle rounded-t-lg" />
        <blockquote class="relative p-8 mb-4">
          <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
            class="absolute left-0 w-full block h-95-px -top-94-px">
            <polygon points="-30,95 583,95 583,65" class="text-teal-500 fill-current"></polygon>
          </svg>
          <h4 class="text-xl font-bold text-white">
            Liste de nos salles virtuelles
          </h4>
          <p class="text-md font-light mt-2 text-white">
            De superbes salles d'expositions partout dans le monde, surement près de chez vous!
            Nous avons hate de vous accueillir dans une de nos salles pour admirer les oeuvres en exposition.
          </p>
        </blockquote>
      </div>
    </div>

    <div class=" md:w-9/12 md:px-4 ">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
        [ngClass]="color === 'light' ? 'bg-white' : 'bg-white text-black'">
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
              <h3 class="font-semibold text-lg" [ngClass]="color === 'light'">
                Salles virtuelles
              </h3>
            </div>
          </div>
        </div>
        <div class="block w-full overflow-x-auto">
          <!-- Projects table -->
          <table class="items-center w-full bg-transparent border-collapse">
            <thead>
              <tr>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  [ngClass]="color === 'light'">
                  Nom
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  [ngClass]="color === 'light'">
                  Artiste
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  [ngClass]="color === 'light'">
                  Description
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  [ngClass]="color === 'light'">
                  Acces
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sV of salleVirtuelles">
                <th
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                  <span class="ml-3 font-bold" [ngClass]="color === 'light'">

                    {{sV.libelle}}
                  </span>
                </th>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <span class="ml-3 font-bold" [ngClass]="color === 'light'">
                    {{sV.artiste.nom}} {{sV.artiste.prenom}} / {{sV.artiste.username}}
                  </span>
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <span class="ml-3 font-bold" [ngClass]="color === 'light'">

                    {{sV.description}}
                  </span>
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                  <button (click)="affcherSalleVirtu(sV.id)"
                    class="bg-emerald-400 text-white active:bg-emerald-400 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                    type="button">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </td>
                <!-- <td>
                    <select>
                      <option *ngFor="let commentaire of sV.commentaireSalleVirtuelle" [selected]="commentaire.note === 3">
                        {{commentaire.titre}}</option>
                    </select>
                  </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>