<!-- Affichage des info de l'expo -->
<div class=" md:w-9/12 md:px-4 ">
  <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
    [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
    <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'">
            Salles d'exposition
          </h3>
        </div>
      </div>
    </div>
    <div class="block w-full overflow-x-auto">
      <!-- Projects table -->
      <table class="items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
              Nom <!--Libelle-->
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
              Localisation <!--Adresse-->
            </th>
           <!-- <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
              Logo
            </th>-->
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
              Dimention de la salle
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
              Propriétaire
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
              Signalement
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
              Réservée
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
              Evaluation de l'artiste
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
              Commantaires
            </th>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              [ngClass]="
                  color === 'light'
                    ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                    : 'bg-red-800 text-red-300 border-red-700'
                ">
                Oeuvres présentes
            </th>
          </tr>
        </thead> <!--fin de la 1er ligne-->
        <tbody> <!--Debut du body du tableau-->
          <tr *ngFor="let sE of salleExpo">
            <th
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
              <img src="data:image/jpeg;base64,{{sE.logo}}" class="h-12 w-12 bg-white rounded-full border"
                alt="..." />
              <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                {{sE.libelle}}
              </span>
            </th>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
              <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                {{sE.adresse.ville}}, {{sE.adresse.pays}}
              </span>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"> <!--Dimention de la salle-->
              <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                {{sE.dimensionSalle}}
              </span>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"> <!--Propriétaire-->
              <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                {{sE.proprietaire.nom}}
              </span>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"> <!--Signalement-->
              <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                {{sE.signalementSalleExposition.titre}}
              </span>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"> <!--Réservée-->
              <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                {{sE.reservation.dateDebut}}, {{sE.reservation.dateFin}}
              </span>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"> <!--Evaluation de l'artiste-->
              <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                {{sE.evaluationArtiste.titre}}
              </span>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"> <!--Commantaires salle-->
              <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                {{sE.commentaireSalleExposition.titre}}
              </span>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"> <!--Oeuvres présentes-->
              <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
                {{sE.oeuvres.nom}}, {{sE.oeuvres.image}}
              </span>
            </td>
            
        </tbody>
      </table>
    </div>
    </div>
    


<!-- Laisser un comentaire-->
  <div class="flex flex-wrap">
    <div class="w-full px-4">
  
      <div>
        <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h2 class="text-blueGray-500 text-sm font-bold"htmlFor="grid-password">Laisser un commentaire sur une salle d'exposition</h2>
                  </div>
                  <div class="card-body">
                      <form (ngSubmit)="save()">
  
                          <div class="row">
                              <div class="col-md-6">
                                <label
                                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                   Non de l'exposition
                                </label>
                                <!--<input matInput placeholder="Non de l'exposition" type="text" [(ngModel)]='commentaireSalleExposition.titre' name="titre">-->

                              </div>
                              <div class="col-md-6">
                                <label
                                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                   Veullez décrire votre expérience
                                </label>
                                  <input matInput placeholder="Description" type="text"
                                  [(ngModel)]="commentaireSalleExposition.description" name="description">
                              </div>
                              <div class="col-md-6">
                                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">Noter votre expérience sur 5</label>
                                <input  matInput placeholder="note" type="radio"
                                [(ngModel)]="commentaireSalleExposition.note" name="note" var='0'>0 
                                <input  matInput placeholder="Description" type="radio"
                                [(ngModel)]="commentaireSalleExposition.note" name="note" var="1">1 
                                <input  matInput placeholder="Description" type="radio"
                                [(ngModel)]="commentaireSalleExposition.note" name="note" var="2">2 
                                <input  matInput placeholder="Description" type="radio"
                                [(ngModel)]="commentaireSalleExposition.note" name="note" var="3">3 
                                <input  matInput placeholder="Description" type="radio"
                                [(ngModel)]="commentaireSalleExposition.note" name="note" var="4">4 
                                <input  matInput placeholder="Description" type="radio"
                                [(ngModel)]="commentaireSalleExposition.note" name="note" var="5">5 
                              </div>
                          </div>
                          <div class="text-center mt-6">
                            <button type="submit" class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150">Ajouter</button>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

