<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'">
          {{tableau1.titre}}
        </h3>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th *ngFor="let p of tableau1.principal"
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            [ngClass]=" 
              color === 'light'
                ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                : 'bg-red-800 text-red-300 border-red-700'
            ">
            {{p}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let c of tableau1.contenu"
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
            <img src="data:image/jpeg;base64,{{c.artiste.image}}" class="h-12 w-12 bg-white rounded-full border"
              alt="..." />
            <span class="ml-3 font-bold" [ngClass]="color === 'light' ? 'text-blueGray-600' : 'text-white'">
              {{c.artiste.nom}} {{c.artiste.prenom}}
            </span>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            {{c.dateDebut}} {{c.dateFin}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
            <div class="flex">
              <a *ngFor="let e of c.evenement" href="">
                <img src="data:image/jpeg;base64,{{e.logo}}" alt="..."
                  class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow" />
                {{e.titre}}
              </a>
            </div>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
            <app-table-dropdown></app-table-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>